{%- comment -%}
  Article Progress Bar
  Fixed progress indicator that shows reading progress on article pages.
  Lives outside swup-container to persist across page transitions.
  Visibility is controlled via JavaScript based on article presence.
{%- endcomment -%}

<div id="article-progress" class="fixed top-0 left-0 w-full h-[3px] z-[9999] pointer-events-none hidden">
  <div id="article-progress-bar" class="h-full w-0 bg-[--color-primary] transition-[width] duration-100 ease-out"></div>
</div>
