{%- liquid
  capture container_class
    render 'container-class', full_width: section.settings.full_width, full_class: 'container-fluid'
  endcapture
-%}

<div class="{{ container_class }}" data-tween-group="apps-{{ section.id }}">
  {%- for block in section.blocks -%}
    <div data-tween data-tween-type="fade-up">
      {% render block %}
    </div>
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Apps",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "Full width"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Apps"
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
  }
{% endschema %}
