{% if cart == empty %}
  {%- render 'icon', name: 'cart', size: '22' -%}
{% else %}
  {%- render 'icon', name: 'cart', size: '22' -%}
{% endif %}

<span class="sr-only">{{ 'templates.cart.cart' | t }}</span>
{%- if cart != empty -%}
  <div class="absolute -top-2 -right-2 flex items-center justify-center min-w-[1.25rem] h-5 px-1.5 bg-neutral-900 text-white text-xs font-medium rounded-full">
    {%- if cart.item_count < 100 -%}
      <span aria-hidden="true">{{ cart.item_count }}</span>
    {%- endif -%}
    <span class="sr-only">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
  </div>
{%- endif -%}
