@font-face {
  font-family: "Phosphor";
  src:
    url("pieces-Phosphor.woff2") format("woff2"),
    url("pieces-Phosphor.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.ph {
  font-family: "Phosphor" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ph.ph-arrow-counter-clockwise:before {
  content: "\e038";
}
.ph.ph-arrow-left:before {
  content: "\e058";
}
.ph.ph-arrow-right:before {
  content: "\e06c";
}
.ph.ph-arrow-up:before {
  content: "\e08e";
}
.ph.ph-arrows-counter-clockwise:before {
  content: "\e096";
}
.ph.ph-arrows-out:before {
  content: "\e0a2";
}
.ph.ph-article:before {
  content: "\e0a8";
}
.ph.ph-bag:before {
  content: "\e0b0";
}
.ph.ph-caret-down:before {
  content: "\e136";
}
.ph.ph-caret-left:before {
  content: "\e138";
}
.ph.ph-caret-right:before {
  content: "\e13a";
}
.ph.ph-check:before {
  content: "\e182";
}
.ph.ph-check-circle:before {
  content: "\e184";
}
.ph.ph-copy:before {
  content: "\e1ca";
}
.ph.ph-facebook-logo:before {
  content: "\e226";
}
.ph.ph-file-text:before {
  content: "\e23a";
}
.ph.ph-folder:before {
  content: "\e24a";
}
.ph.ph-funnel:before {
  content: "\e266";
}
.ph.ph-gift:before {
  content: "\e276";
}
.ph.ph-headset:before {
  content: "\e584";
}
.ph.ph-house:before {
  content: "\e2c2";
}
.ph.ph-image:before {
  content: "\e2ca";
}
.ph.ph-instagram-logo:before {
  content: "\e2d0";
}
.ph.ph-key:before {
  content: "\e2d6";
}
.ph.ph-leaf:before {
  content: "\e2da";
}
.ph.ph-link:before {
  content: "\e2e2";
}
.ph.ph-linkedin-logo:before {
  content: "\e2ee";
}
.ph.ph-list:before {
  content: "\e2f0";
}
.ph.ph-lock-simple:before {
  content: "\e308";
}
.ph.ph-magnifying-glass:before {
  content: "\e30c";
}
.ph.ph-minus:before {
  content: "\e32a";
}
.ph.ph-package:before {
  content: "\e390";
}
.ph.ph-paper-plane-tilt:before {
  content: "\e398";
}
.ph.ph-pinterest-logo:before {
  content: "\e64e";
}
.ph.ph-play:before {
  content: "\e3d0";
}
.ph.ph-plus:before {
  content: "\e3d4";
}
.ph.ph-shield-check:before {
  content: "\e40c";
}
.ph.ph-spinner:before {
  content: "\e66a";
}
.ph.ph-squares-four:before {
  content: "\e464";
}
.ph.ph-star:before {
  content: "\e46a";
}
.ph.ph-storefront:before {
  content: "\e470";
}
.ph.ph-tag:before {
  content: "\e478";
}
.ph.ph-tiktok-logo:before {
  content: "\eaf2";
}
.ph.ph-trash:before {
  content: "\e4a6";
}
.ph.ph-truck:before {
  content: "\e4b4";
}
.ph.ph-user:before {
  content: "\e4c2";
}
.ph.ph-video-camera:before {
  content: "\e4da";
}
.ph.ph-wallet:before {
  content: "\e68a";
}
.ph.ph-warning:before {
  content: "\e4e0";
}
.ph.ph-warning-circle:before {
  content: "\e4e2";
}
.ph.ph-x:before {
  content: "\e4f6";
}
.ph.ph-x-logo:before {
  content: "\e4bc";
}
.ph.ph-youtube-logo:before {
  content: "\e4fc";
}
